$defaultFontColor: #0f2346;

$sectionBackground: #c0ecff;
$black: #000;
$white: #FFF;
$aqua: #00758e;
$hotPink: #FD1F6D;
$requestBackgroundColor: #FFF;
$requestBorderColor: #A0A0A0;
$requestFulfilledColor: #a5a5a5;


$headerHeight: 4em;
$sectionMargin: 10px;


